Repository jbabin91/tsc-files: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck, lint, lint-md, format

lefthook.yaml:

output:
  - failure        # Only show failed steps
  - execution_out  # Show command output for failures

pre-commit:
  parallel: true
  commands:
    typecheck:
      glob: '*.{ts,tsx}'
      run: pnpm typecheck
    lint:
      glob: '*.{ts,tsx,js,jsx,cjs,mjs}'
      run: pnpm eslint {staged_files} --max-warnings 0 --cache --cache-location node_modules/.cache/eslint/.eslintcache
      stage_fixed: true # Auto-stage ESLint fixes!
    lint-md:
      glob: '*.{md,mdx}'
      run: pnpm markdownlint-cli2 {staged_files}
    format:
      glob: '*.{ts,tsx,js,jsx,cjs,mjs,json,md,mdx}'
      run: pnpm prettier -uw {staged_files}
      stage_fixed: true
    audit:
      run: pnpm audit --audit-level moderate

commit-msg:
  commands:
    commitlint:
      run: pnpm dlx commitlint --edit "$1"

pre-push:
  commands:
    test:
      run: pnpm test

fix(cli): :bug: resolve version output and integration test patterns
  .github/actions/integration-tests/action.yaml
  src/cli/command.ts
Due: typecheck, lint, format

refactor(cli): :recycle: simplify version handling with JSON import
  src/cli/command.ts
  tests/unit/cli/command.test.ts
Due: typecheck, lint, format

test(cli): :white_check_mark: improve main.ts test coverage to 97.2%
  tests/unit/cli/command.test.ts
  tests/unit/cli/main.test.ts
  vitest.config.ts
Due: typecheck, lint, format

refactor(ci): :recycle: simplify integration tests to use actual package only
  .github/actions/integration-tests/action.yaml
Due: none

fix(cli): :bug: resolve duplicate version/help output issue
  src/cli/main.ts
  src/cli/runner.ts
Due: typecheck, lint, format

fix(cli): :bug: resolve duplicate error output and implement Commander.js best practices
  src/cli/command.ts
  src/cli/runner.ts
  tests/unit/cli/runner.test.ts
Due: typecheck, lint, format

feat(cli): :sparkles: add advanced Commander.js features and proper logging integration
  src/cli/command.ts
Due: typecheck, lint, format

fix(test): :white_check_mark: replace unsafe any type with proper Result type
  src/core/file-resolver.ts
  src/execution/executor.ts
  tests/unit/execution/executor.test.ts
Due: typecheck, lint, format

refactor(ci): :recycle: rename Fast Integration Tests to Integration Tests
  .github/workflows/ci.yaml
Due: none

docs: :memo: comprehensive documentation update reflecting modular architecture and enhanced features
  README.md
  docs/api.md
  docs/architecture.md
Due: lint-md, format

chore(repo): :hammer: add changeset
  .changeset/aff48e38-auto-generated.md
Due: lint-md, format

docs(strategy): :memo: revise Phase 3 plan with focused git hook optimization
  CLAUDE.md
  docs/implementation-strategy.md
Due: lint-md, format

feat(cli): ✨ enhance CLI with TypeScript compiler education and fallback
  package.json
  pnpm-lock.yaml
  src/cli/command.ts
  src/cli/education.ts
  src/cli/output.ts
  src/cli/runner.ts
  src/detectors/typescript.ts
  src/execution/executor.ts
  src/types/cli.ts
  src/types/core.ts
  tests/unit/cli/command.test.ts
  tests/unit/cli/output.test.ts
  tests/unit/cli/runner.test.ts
  tests/unit/cli/types.test.ts
  tests/unit/detectors/typescript.test.ts
  tsconfig.json
Due: typecheck, lint, format

docs: :memo: comprehensive documentation update for tsgo integration and test architecture refactoring
  docs/api.md
  docs/decisions/011-test-architecture-refactoring.md
  docs/getting-started.md
  docs/testing-strategy.md
Due: lint-md, format

fix(lint): :bug: resolve TypeScript type issues and ESLint violations
  eslint.config.js
  src/cli/command.ts
  tests/unit/cli/command.test.ts
  tests/unit/cli/education.test.ts
  tests/unit/cli/main.test.ts
  tests/unit/cli/runner.test.ts
  tests/unit/detectors/typescript.test.ts
Due: typecheck, lint, format

test(coverage): :white_check_mark: increase branch coverage to meet quality thresholds
  tests/unit/cli/education.test.ts
  tests/unit/cli/runner.test.ts
  tests/unit/detectors/typescript.test.ts
  tests/unit/execution/executor.test.ts
Due: typecheck, lint, format

chore(repo): :hammer: bump dependencies
  package.json
  pnpm-lock.yaml
Due: format

feat(core): :sparkles: implement user environment preservation for TypeScript checking
  src/config/temp-config.ts
  src/core/checker.ts
  src/detectors/typescript.ts
  tests/unit/config/temp-config.test.ts
Due: typecheck, lint, format

feat(core): :sparkles: implement proactive tsgo compatibility checking
  src/cli/main.ts
  src/cli/output.ts
  src/config/tsgo-compatibility.ts
  src/core/checker.ts
  src/execution/executor.ts
  tests/unit/cli/main.test.ts
  tests/unit/config/tsgo-compatibility.test.ts
Due: typecheck, lint, format

chore(repo): :hammer: add changeset
  .changeset/3f6e33b1-auto-generated.md
Due: lint-md, format

docs(openspec): :memo: migrate to OpenSpec for spec-driven development
  .claude/commands/openspec/apply.md
  .claude/commands/openspec/archive.md
  .claude/commands/openspec/proposal.md
  CLAUDE.md
  docs/documentation-audit.md
  docs/implementation-strategy.md
  docs/phase2-dependencies.md
  openspec/AGENTS.md
  openspec/changes/add-bun-runtime-support/proposal.md
  openspec/changes/add-bun-runtime-support/specs/compiler-detection/spec.md
  openspec/changes/add-bun-runtime-support/tasks.md
  openspec/changes/enhance-error-messages/proposal.md
  openspec/changes/enhance-error-messages/specs/cli-interface/spec.md
  openspec/changes/enhance-error-messages/specs/execution-and-output/spec.md
  openspec/changes/enhance-error-messages/tasks.md
  openspec/changes/improve-configuration-handling/proposal.md
  openspec/changes/improve-configuration-handling/specs/configuration-management/spec.md
  openspec/changes/improve-configuration-handling/tasks.md
  openspec/project.md
  openspec/specs/cli-interface/spec.md
  openspec/specs/compiler-detection/spec.md
  openspec/specs/configuration-management/spec.md
  openspec/specs/execution-and-output/spec.md
  openspec/specs/file-checking/spec.md
  openspec/specs/monorepo-support/spec.md
  openspec/specs/tsgo-optimization/spec.md
Due: lint-md, format

docs(structure): :memo: reorganize documentation into logical directories
  .claude/development-notes.md
  docs/CONTRIBUTING.md
  docs/architecture/README.md
  docs/architecture/details.md
  docs/architecture/performance.md
  docs/architecture/security.md
  docs/contributing/README.md
  docs/contributing/coding-standards.md
  docs/contributing/pull-requests.md
  docs/contributing/release-process.md
  docs/contributing/setup.md
  docs/testing/README.md
  docs/testing/best-practices.md
  docs/testing/framework.md
  docs/testing/history.md
  docs/testing/strategy.md
Due: lint-md, format

docs(navigation): :memo: enhance documentation navigation and cross-references
  CLAUDE.md
  docs/README.md
Due: lint-md, format

fix(claude): :bug: use @ imports to load files into Claude Code context
  CLAUDE.md
Due: lint-md, format

docs(workflows): :memo: update claude-code-workflows.md with new doc structure
  .claude/claude-code-workflows.md
  CLAUDE.md
Due: lint-md, format

docs(standards): :memo: align coding standards with actual ESLint/Prettier config
  docs/contributing/coding-standards.md
Due: lint-md, format

fix(lint): :bug: enforce zero-tolerance policy for any types
  docs/contributing/coding-standards.md
  eslint.config.js
  tests/setup.ts
  tests/unit/cli.test.ts
  tests/unit/config/tsgo-compatibility.test.ts
Due: typecheck, lint, lint-md, format

docs(quality): :memo: add test coverage to quality gate requirements
  CLAUDE.md
  docs/contributing/coding-standards.md
Due: lint-md, format

docs(coverage): :memo: reference vitest.config.ts instead of duplicating thresholds
  CLAUDE.md
  docs/contributing/coding-standards.md
Due: lint-md, format

docs(duplication): :memo: eliminate duplication by referencing source of truth
  CLAUDE.md
  docs/contributing/coding-standards.md
Due: lint-md, format

docs(claude): :memo: restore essential commands to CLAUDE.md for quick access
  CLAUDE.md
Due: lint-md, format

docs(claude): :memo: add changeset:auto and troubleshooting commands
  CLAUDE.md
Due: lint-md, format

docs(cleanup): :memo: streamline documentation structure
  CLAUDE.md
  README.md
  docs/README.md
  docs/contributing/pull-requests.md
  docs/documentation-audit.md
  docs/getting-started.md
  docs/usage/tsgo-compiler.md
Due: lint-md, format

chore(repo): :hammer: bump dependencies
  pnpm-lock.yaml
Due: none

fix(parser): :bug: add JSONC support for tsconfig.json with comments and trailing commas
  .changeset/jsonc-support.md
  package.json
  pnpm-lock.yaml
  src/config/parser.ts
  tests/unit/config/parser.test.ts
Due: typecheck, lint, lint-md, format

fix(changeset): :bug: only bump version for feat/fix/perf, not refactor/revert
  scripts/generate-changeset.ts
Due: typecheck, lint, format

feat(changeset): :sparkles: use adjective-noun naming for generated changesets
  .changeset/swift-eagle.md
  scripts/generate-changeset.ts
Due: typecheck, lint, lint-md, format

fix(changeset): :bug: include all conventional commits in changelog while only bumping for feat/fix/perf
  .changeset/8165b992-auto-generated.md
  scripts/generate-changeset.ts
Due: typecheck, lint, lint-md, format
