Repository jbabin91/tsc-files: changes, and which lefthook commands are due for each by the changed paths.
All: sync-docs, format, lint, typecheck, lint-md

lefthook.yaml:

output:
  - failure # Only show failed steps
  - execution_out # Show command output for failures

pre-commit:
  parallel: true
  commands:
    sync-docs:
      glob: 'AGENTS.md'
      run: cp AGENTS.md CLAUDE.md && git add CLAUDE.md
      priority: 1
    format:
      glob: '*.{ts,js,cjs,mjs,json,yaml,yml,md,mdx}'
      run: pnpm prettier -uw {staged_files}
      stage_fixed: true
    lint:
      glob: '*.{ts,js,cjs,mjs}'
      run: pnpm eslint {staged_files} --max-warnings 0 --cache --cache-location node_modules/.cache/eslint/.eslintcache
      stage_fixed: true
    typecheck:
      glob: '*.ts'
      run: pnpm tsc-files {staged_files}
    lint-md:
      glob: '*.{md,mdx}'
      run: pnpm markdownlint-cli2 --no-globs {staged_files}
    audit:
      run: pnpm audit --audit-level moderate

commit-msg:
  commands:
    commitlint:
      run: pnpm dlx commitlint --edit "$1"

test(config): ✅ add comprehensive tests for tsconfig-resolver
  .changeset/migrate-to-get-tsconfig.md
  src/config/tsconfig-resolver.ts
  tests/unit/config/tsconfig-resolver.test.ts
Due: format, lint, typecheck, lint-md

docs(config): :memo: improve comment clarity on structural typing
  src/config/tsconfig-resolver.ts
Due: format, lint, typecheck

refactor(config): :recycle: optimize validation and enhance error messages
  .claude/github-workflow.md
  src/config/tsconfig-resolver.ts
  src/core/checker.ts
  tests/unit/config/tsconfig-resolver.test.ts
  tests/unit/core/checker.test.ts
Due: format, lint, typecheck, lint-md

docs(changeset): :memo: update changeset with latest improvements
  .changeset/migrate-to-get-tsconfig.md
Due: format, lint-md

test(core): :white_check_mark: verify tinyglobby equivalence to fast-glob
  docs/tinyglobby-verification.md
  tests/unit/tinyglobby-behavior.test.ts
Due: format, lint, typecheck, lint-md

docs(decisions): :memo: add ADRs for dependency optimization
  docs/decisions/011-glob-library-migration.md
  docs/decisions/012-tsconfig-parsing-consolidation.md
  docs/decisions/README.md
  docs/tinyglobby-verification.md
Due: format, lint-md

docs(testing): :memo: add guidance on third-party verification tests
  docs/testing/best-practices.md
  tests/unit/tinyglobby-behavior.test.ts
Due: format, lint, typecheck, lint-md

chore(openspec): :bookmark: archive migrate-to-get-tsconfig change
  openspec/changes/archive/2025-10-11-migrate-to-get-tsconfig/design.md
  openspec/changes/archive/2025-10-11-migrate-to-get-tsconfig/proposal.md
  openspec/changes/archive/2025-10-11-migrate-to-get-tsconfig/specs/configuration-management/spec.md
  openspec/changes/archive/2025-10-11-migrate-to-get-tsconfig/specs/file-checking/spec.md
  openspec/changes/archive/2025-10-11-migrate-to-get-tsconfig/tasks.md
  openspec/specs/configuration-management/spec.md
  openspec/specs/file-checking/spec.md
Due: format, lint-md

refactor(config): :recycle: simplify structural typing comment
  src/config/tsconfig-resolver.ts
Due: format, lint, typecheck

docs(decisions): update ADR-011 to reflect temporary verification tests
  docs/decisions/011-glob-library-migration.md
Due: format, lint-md

refactor(test): remove unnecessary SSR optimizer config
  vitest.config.ts
Due: format, lint, typecheck

perf(build): enable minification for 45% bundle size reduction
  tsdown.config.ts
Due: format, lint, typecheck

docs(claude): add github-workflow reference to docs map
  CLAUDE.md
Due: format, lint-md

docs(config): :memo: clarify caller responsibility for deferred validation
  src/config/tsconfig-resolver.ts
Due: format, lint, typecheck

docs(changeset): :memo: add minification performance metrics
  .changeset/migrate-to-get-tsconfig.md
Due: format, lint-md

docs(claude): :memo: add troubleshooting for Co-authored-by issue
  .claude/commit-conventions.md
Due: format, lint-md

refactor(config): ♻️ simplify config parsing with get-tsconfig (#40)
  .changeset/migrate-to-get-tsconfig.md
  .claude/commit-conventions.md
  .claude/github-workflow.md
  CLAUDE.md
  docs/decisions/011-glob-library-migration.md
  docs/decisions/012-tsconfig-parsing-consolidation.md
  docs/decisions/README.md
  docs/testing/best-practices.md
  openspec/changes/archive/2025-10-11-migrate-to-get-tsconfig/design.md
  openspec/changes/archive/2025-10-11-migrate-to-get-tsconfig/proposal.md
  openspec/changes/archive/2025-10-11-migrate-to-get-tsconfig/specs/configuration-management/spec.md
  openspec/changes/archive/2025-10-11-migrate-to-get-tsconfig/specs/file-checking/spec.md
  openspec/changes/archive/2025-10-11-migrate-to-get-tsconfig/tasks.md
  openspec/specs/configuration-management/spec.md
  openspec/specs/file-checking/spec.md
  package.json
  pnpm-lock.yaml
  src/config/dependency-discovery.ts
  src/config/discovery.ts
  src/config/parser.ts
  src/config/temp-config.ts
  src/config/tsconfig-resolver.ts
  src/config/tsgo-compatibility.ts
  src/core/checker.ts
  src/core/file-resolver.ts
  tests/unit/config/dependency-discovery.test.ts
  tests/unit/config/discovery.test.ts
  tests/unit/config/parser.test.ts
  tests/unit/config/temp-config.test.ts
  tests/unit/config/tsconfig-resolver.test.ts
  tests/unit/config/tsgo-compatibility.test.ts
  tests/unit/core/checker.test.ts
  tsdown.config.ts
  vitest.config.ts
Due: format, lint, typecheck, lint-md

docs(repo): :memo: add GitHub Copilot PR review instructions
  .github/copilot-instructions.md
  CLAUDE.md
Due: format, lint-md

docs(openspec): :memo: add AI assistant coordination to AGENTS.md
  openspec/AGENTS.md
Due: format, lint-md

docs(openspec): :memo: restore AGENTS.md to original OpenSpec workflow instructions
  openspec/AGENTS.md
Due: format, lint-md

chore(repo): :hammer: bump dependencies
  package.json
  pnpm-lock.yaml
Due: format

docs(openspec): :memo: add Ruler integration proposal for multi-agent AI instructions
  openspec/changes/integrate-ruler-multi-agent/design.md
  openspec/changes/integrate-ruler-multi-agent/proposal.md
  openspec/changes/integrate-ruler-multi-agent/specs/ai-agent-instructions/spec.md
  openspec/changes/integrate-ruler-multi-agent/tasks.md
Due: format, lint-md

docs(openspec): :memo: add token optimization research to Ruler proposal
  openspec/changes/integrate-ruler-multi-agent/design.md
  openspec/changes/integrate-ruler-multi-agent/findings.md
  openspec/changes/integrate-ruler-multi-agent/proposal.md
  openspec/changes/integrate-ruler-multi-agent/tasks.md
Due: format, lint-md

docs(openspec): :memo: preserve AI optimization research for dot-agents migration
  openspec/changes/integrate-ruler-multi-agent/re-evaluation.md
  openspec/changes/integrate-ruler-multi-agent/research-tracking.md
Due: format, lint-md

feat(openspec): :sparkles: add comprehensive dot-agents project OpenSpec
  openspec/changes/dot-agents-project-init/design.md
  openspec/changes/dot-agents-project-init/project.md
  openspec/changes/dot-agents-project-init/proposal.md
  openspec/changes/dot-agents-project-init/specs/instruction-generation/spec.md
  openspec/changes/dot-agents-project-init/tasks.md
Due: format, lint-md

feat(agents): add new agents for code refactoring, reliability review, git workflow management, and testing strategies
  .claude/github-workflow.md
  .opencode/agent/code-refactorer.md
  .opencode/agent/code-reliability-reviewer.md
  .opencode/agent/git-workflow-manager.md
  .opencode/agent/openspec-strategist.md
  .opencode/agent/typescript-developer.md
  .opencode/agent/vitest-coverage-architect.md
  .opencode/agent/workflow-orchestrator.md
  .opencode/opencode.json
Due: format, lint-md

chore(repo): :hammer: migrate from commander to cleye and update dependencies
  openspec/changes/migrate-to-cleye/tasks.md
  package.json
  pnpm-lock.yaml
  src/cli/command.ts
  src/cli/main.ts
  src/cli/runner.ts
  src/types/cli.ts
  tests/setup.ts
  tests/unit/cli.test.ts
  tests/unit/cli/command.test.ts
  tests/unit/cli/main.test.ts
  tests/unit/cli/runner.test.ts
Due: format, lint, typecheck, lint-md

feat(core): :sparkles: add ambient declaration discovery and modern module support
  AGENTS.md
  CLAUDE.md
  README.md
  docs/architecture/README.md
  openspec/AGENTS.md
  openspec/changes/archive/2025-10-24-fix-ambient-type-discovery/design.md
  openspec/changes/archive/2025-10-24-fix-ambient-type-discovery/proposal.md
  openspec/changes/archive/2025-10-24-fix-ambient-type-discovery/specs/configuration-management/spec.md
  openspec/changes/archive/2025-10-24-fix-ambient-type-discovery/tasks.md
  openspec/project.md
  openspec/specs/configuration-management/spec.md
  package.json
  pnpm-lock.yaml
  src/config/dependency-discovery.ts
  src/config/temp-config.ts
  src/core/checker.ts
  src/types/reset.d.ts
  src/utils/file-patterns.ts
  tests/integration/cli-package.test.ts
  tests/unit/config/dependency-discovery.test.ts
  tests/unit/config/temp-config.test.ts
  tests/unit/utils/file-patterns.test.ts
  vitest.config.ts
Due: sync-docs, format, lint, typecheck, lint-md

docs(openspec): :memo: add refactor-test-infrastructure proposal
  openspec/changes/refactor-test-infrastructure/design.md
  openspec/changes/refactor-test-infrastructure/proposal.md
  openspec/changes/refactor-test-infrastructure/specs/testing-infrastructure/spec.md
  openspec/changes/refactor-test-infrastructure/tasks.md
Due: format, lint-md

test(vitest): :white_check_mark: fix tests for vitest v4 migration
  AGENTS.md
  CLAUDE.md
  tests/unit/execution/executor.test.ts
  vitest.config.ts
Due: sync-docs, format, lint, typecheck, lint-md

fix(tests): update test counts and improve coverage metrics
  .github/actions/integration-tests/action.yaml
  .github/workflows/ci.yaml
  AGENTS.md
  CLAUDE.md
  README.md
  docs/architecture/README.md
  docs/testing/README.md
  openspec/project.md
  tests/integration/cli-package.test.ts
  tests/unit/cli.test.ts
  tests/unit/cli/main.test.ts
  tests/unit/cli/output.test.ts
  tests/unit/cli/runner.test.ts
  tests/unit/config/dependency-discovery.test.ts
  tests/unit/config/tsgo-compatibility.test.ts
  tests/unit/core/checker.test.ts
  tests/unit/core/file-resolver.test.ts
  tests/unit/detectors/package-manager.test.ts
  tests/unit/detectors/typescript.test.ts
  tests/unit/detectors/typescript.windows.test.ts
  tests/unit/execution/executor.test.ts
  tests/unit/utils/file-operations.test.ts
  tests/unit/utils/file-patterns.test.ts
  tests/unit/utils/logger.test.ts
  vitest.config.ts
Due: sync-docs, format, lint, typecheck, lint-md

chore(repo): :hammer: add changeset
  .changeset/young-deer.md
Due: format, lint-md

chore(deps): update eslint-plugin-unicorn to version 62.0.0
  package.json
  pnpm-lock.yaml
  scripts/generate-changeset.ts
  src/cli/command.ts
  src/config/dependency-discovery.ts
  src/utils/file-patterns.ts
  tests/unit/cli.test.ts
  tests/unit/cli/output.test.ts
  tests/unit/execution/output-parser.test.ts
Due: format, lint, typecheck

fix(core): :bug: handle files with special characters in filenames
  src/core/file-resolver.ts
  tests/unit/core/file-resolver.test.ts
Due: format, lint, typecheck

refactor(core): :recycle: address copilot review feedback
  .changeset/special-characters-fix.md
  src/core/file-resolver.ts
Due: format, lint, typecheck, lint-md
