Repository jbabin91/tsc-files: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck, lint, lint-md, format

lefthook.yaml:

output:
  - failure        # Only show failed steps
  - execution_out  # Show command output for failures

pre-commit:
  parallel: true
  commands:
    typecheck:
      glob: '*.{ts,tsx}'
      run: pnpm typecheck
    lint:
      glob: '*.{ts,tsx,js,jsx,cjs,mjs}'
      run: pnpm eslint {staged_files} --max-warnings 0 --cache --cache-location node_modules/.cache/eslint/.eslintcache
      stage_fixed: true # Auto-stage ESLint fixes!
    lint-md:
      glob: '*.{md,mdx}'
      run: pnpm markdownlint-cli2 {staged_files}
    format:
      glob: '*.{ts,tsx,js,jsx,cjs,mjs,json,md,mdx}'
      run: pnpm prettier -uw {staged_files}
      stage_fixed: true
    audit:
      run: pnpm audit --audit-level moderate

commit-msg:
  commands:
    commitlint:
      run: pnpm dlx commitlint --edit "$1"

pre-push:
  commands:
    test:
      run: pnpm test

fix(ci): 🐛 add --access public flag and restore npm token for provenance publishing
  package.json
Due: format

feat(release): 🎸 add changeset for provenance publishing fix
  .changeset/7381953f-auto-generated.md
Due: lint-md, format

fix(config): 🐛 disable provenance to isolate npm publishing issue
  package.json
Due: format

feat(release): 🎸 add changeset for provenance disable test
  .changeset/47be7c79-auto-generated.md
Due: lint-md, format

chore: :hammer: clean up bad attempts at releasing the package
  CHANGELOG.md
  package.json
Due: lint-md, format

ci: :ferris_wheel: update github workflows and actions to try and solve npm publishing issues
  .github/actions/setup/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/codeql.yaml
  .github/workflows/release.yaml
Due: none

chore(repo): :hammer: add changeset
  .changeset/1f3c683e-auto-generated.md
  .commitlintrc.js
Due: lint, lint-md, format

ci: :ferris_wheel: update GitHub action to use pnpm cache
  .github/actions/setup/action.yaml
Due: none

fix: 🔧 simplify pnpm cache setup for Windows compatibility
  .github/workflows/release.yaml
Due: none

feat: :sparkles: update commitlintrc config
  .changeset/1f3c683e-auto-generated.md
  .claude/commit-conventions.md
  .commitlintrc.js
  .github/workflows/release.yaml
Due: lint, lint-md, format

chore(repo): :hammer: add changeset
  .changeset/e64dba06-auto-generated.md
Due: lint-md, format

ci: :ferris_wheel: reverting git user setup for release workflow
  .changeset/e64dba06-auto-generated.md
  .github/workflows/release.yaml
Due: lint-md, format

chore(repo): :hammer: add changeset
  .changeset/bc1c13f2-auto-generated.md
Due: lint-md, format

fix: use proper npm authentication approach
  .claude/commit-conventions.md
  .commitlintrc.js
  .github/actions/setup/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/codeql.yaml
  .github/workflows/release.yaml
  .npmrc
  CLAUDE.md
  README.md
  docs/contributing.md
  docs/release-process.md
  package.json
  scripts/generate-changeset.ts
Due: typecheck, lint, lint-md, format

chore(repo): :hammer: add changeset
  .changeset/44c017a4-auto-generated.md
Due: lint-md, format

fix: use proper npm authentication approach
  .changeset/44c017a4-auto-generated.md
  .claude/commit-conventions.md
  .commitlintrc.js
  .github/actions/setup/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/codeql.yaml
  .github/workflows/release.yaml
  .npmrc
  CLAUDE.md
  README.md
  docs/contributing.md
  docs/release-process.md
  package.json
  scripts/generate-changeset.ts
Due: typecheck, lint, lint-md, format

ci: :ferris_wheel: trying commitMode on changeset action now to sign commits
  .changeset/44c017a4-auto-generated.md
  .github/workflows/release.yaml
Due: lint-md, format

chore(repo): :hammer: add changeset
  .changeset/f07b910c-auto-generated.md
Due: lint-md, format

ci(release): :construction_worker: add formatting step after version bump
  .github/workflows/release.yaml
Due: none

ci(release): :ferris_wheel: use correct emoji for CI commits
  .github/workflows/release.yaml
Due: none

fix: :bug: revert incorrect emoji change for chore commits
  .github/workflows/release.yaml
Due: none

fix(ci): :bug: use clean changeset version command
  .github/workflows/release.yaml
  package.json
Due: format

fix(ci): :bug: add git user config for formatting step
  .github/workflows/release.yaml
Due: none

fix(ci): :bug: setup git user consistently with app bot identity
  .github/workflows/release.yaml
Due: none

test(ci): :alembic: setup git user once and disable changesets setupGitUser
  .github/workflows/release.yaml
Due: none

fix(ci): :bug: remove incompatible formatting step from github-api mode
  .github/workflows/release.yaml
Due: none

fix(release): :bug: format changelog before changesets commits
  package.json
Due: format

style: :lipstick: fix workflow formatting
  .github/workflows/release.yaml
Due: none

chore(hooks): :hammer: improve lefthook yaml formatting and add changeset
  .changeset/lefthook-yaml-fix.md
  lefthook.yaml
Due: lint-md, format

test(publish): :alembic: enable npm provenance to test 404 issue
  .changeset/test-npm-provenance.md
  package.json
Due: lint-md, format

docs(repo): :memo: update documentation
  .commitlintrc.js
  docs/README.md
Due: lint, lint-md, format

feat(core): :sparkles: complete TypeScript file checker implementation
  src/cli.ts
  src/core/checker.ts
  tests/unit/checker.test.ts
  tests/unit/cli.test.ts
Due: typecheck, lint, format

feat: :sparkles: implement Phase 1 core reliability improvements
  package.json
  pnpm-lock.yaml
  src/cli.ts
  src/core/checker.ts
  src/index.ts
  tests/unit/checker.test.ts
  tests/unit/cli.test.ts
  tests/unit/types.test.ts
  tsconfig.json
  vitest.config.ts
Due: typecheck, lint, format

chore: :hammer: add dotenv vault configuration and update .gitignore
  .env.vault
  .gitignore
  package.json
Due: format

feat(docs): :sparkles: complete Phase 2 dependency strategy and CLI research
  CLAUDE.md
  README.md
  docs/architecture.md
  docs/implementation-strategy.md
  docs/phase2-dependencies.md
  package.json
  pnpm-lock.yaml
Due: lint-md, format

feat(cli): :sparkles: complete Phase 2.1 CLI enhancement with professional UX
  src/cli.ts
  tests/unit/cli.test.ts
Due: typecheck, lint, format

chore(test): :hammer: add vitest ui script and dependency
  package.json
  pnpm-lock.yaml
Due: format

feat(test): :sparkles: implement enhanced CLI testing framework with custom matchers
  docs/testing.md
  src/cli.ts
  src/core/checker.ts
  tests/setup.ts
  tests/unit/checker.test.ts
  tests/unit/cli.test.ts
  tests/unit/index.test.ts
  vitest.config.ts
Due: typecheck, lint, lint-md, format

docs(strategy): :memo: update implementation strategy with Phase 2.1 completion status
  docs/implementation-strategy.md
Due: lint-md, format

feat(core): :sparkles: implement tsconfig.json context detection with directory traversal
  src/cli.ts
  src/core/checker.ts
  tests/unit/checker.test.ts
  tests/unit/cli.test.ts
Due: typecheck, lint, format
