Repository jbabin91/tsc-files: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck, lint, lint-md, format

typecheck:
  run: pnpm typecheck

lint:
  run: pnpm eslint {staged_files} --max-warnings 0 --cache --cache-location node_modules/.cache/eslint/.eslintcache
  stage_fixed: true

lint-md:
  run: pnpm markdownlint-cli2 {staged_files}

format:
  run: pnpm prettier -uw {staged_files}
  stage_fixed: true

chore(lefthook): :hammer: formatted lefthook config and remove pre-push command
  lefthook.yaml
Due: none

ci(security): :ferris_wheel: update GitHub Actions security workflow for pull requests
  .github/workflows/security.yaml
Due: none

fix(ci): :bug: update GitHub Actions security workflow to set GITHUB_TOKEN in env
  .github/workflows/security.yaml
Due: none

docs: :memo: update CI/CD documentation and add security badge
  CLAUDE.md
  README.md
Due: lint-md, format

chore: 📦 release version 0.1.1
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
Due: lint-md, format

test: create changeset to test trusted publishing workflow
  .changeset/test-trusted-publishing.md
  package.json
Due: lint-md, format

Version Packages (#7)
  .changeset/test-trusted-publishing.md
  CHANGELOG.md
  package.json
Due: lint-md, format

test: minimal changeset to verify trusted publishing
  .changeset/minimal-test.md
Due: lint-md, format

Version Packages (#8)
  .changeset/minimal-test.md
  CHANGELOG.md
  package.json
Due: lint-md, format

test: verify trusted publishing works after manual v0.1.2
  .changeset/test-fixed-publishing.md
Due: lint-md, format

Version Packages (#9)
  .changeset/test-fixed-publishing.md
  CHANGELOG.md
  package.json
Due: lint-md, format

revert: switch back to NPM_TOKEN authentication
  .github/workflows/release.yaml
Due: none

test: verify NPM_TOKEN publishing works reliably
  .changeset/test-npm-token.md
Due: lint-md, format

feat: configure GitHub App for signed commits
  .github/workflows/release.yaml
  README.md
  docs/getting-started.md
  package.json
Due: lint-md, format

test: add changeset to verify complete automation
  .changeset/test-complete-automation.md
  .changeset/test-npm-token.md
Due: lint-md, format

ci: remove duplicate build step from release workflow
  .github/workflows/release.yaml
Due: none

fix: use 'pnpm run version' instead of 'pnpm version' in release workflow
  .github/workflows/release.yaml
Due: none

fix: configure GitHub App user for commit signing
  .github/workflows/release.yaml
Due: none

feat: upgrade to changesets/action@v1.5.3 with GitHub API commit mode
  .github/workflows/release.yaml
Due: none

fix: add id-token write permission for npm provenance
  .github/workflows/release.yaml
Due: none

fix: temporarily disable npm provenance to test publishing
  package.json
Due: format

fix: add NPM authentication token to .npmrc
  .npmrc
Due: none

fix: use proper npm authentication approach
  .github/workflows/release.yaml
  .npmrc
Due: none

chore(config): 🔧 add commit conventions with emoji mapping
  .claude/commit-conventions.md
  CLAUDE.md
Due: lint-md, format

fix(config): 🐛 correct emoji placement in commit format
  .claude/commit-conventions.md
Due: lint-md, format

fix(config): 🐛 update to actual project emoji mappings
  .claude/commit-conventions.md
Due: lint-md, format

feat(config): 🎸 re-enable npm provenance for security attestation
  package.json
Due: format

docs: ✏️ update documentation with latest infrastructure improvements
  README.md
  docs/release-process.md
Due: lint-md, format

feat(tools): 🎸 add custom automatic changeset generation
  .changeset/d5b9a14a-auto-generated.md
  package.json
  scripts/generate-changeset.js
Due: lint, lint-md, format

feat(tools): 🎸 enhance changeset generation with professional patterns
  scripts/generate-changeset.js
Due: lint, format

refactor(tools): ♻️ convert changeset script to TypeScript with native Node.js support
  package.json
  scripts/generate-changeset.js
  scripts/generate-changeset.ts
Due: typecheck, lint, format

refactor(config): ♻️ reorganize changeset scripts for better grouping
  CLAUDE.md
  docs/release-process.md
  package.json
Due: lint-md, format

feat(ci): 🎸 add changeset:local-release and update GitHub workflow
  .github/workflows/release.yaml
  CLAUDE.md
  package.json
Due: lint-md, format

docs: 📝 update contributing guide with new changeset script name
  docs/contributing.md
Due: lint-md, format

feat(release): 🎸 add comprehensive changeset for v0.2.0 release
  .changeset/2c756fb6-auto-generated.md
Due: lint-md, format

fix(config): 🐛 add automatic markdown formatting to changeset:version
  CHANGELOG.md
  package.json
Due: lint-md, format

fix(ci): 🐛 correct GitHub App token v2 permissions for npm publishing
  .github/workflows/release.yaml
Due: none

feat(release): 🎸 add changeset for GitHub App token fix and retry v0.2.0 release
  .changeset/663a8d10-auto-generated.md
Due: lint-md, format

chore: :hammer: clean up script
  scripts/generate-changeset.ts
Due: typecheck, lint, format

Path conditions:
  typecheck: any of: *.{ts,tsx}
  lint: any of: *.{ts,tsx,js,jsx,cjs,mjs}
  lint-md: any of: *.{md,mdx}
  format: any of: *.{ts,tsx,js,jsx,cjs,mjs,json,md,mdx}
