Repository jbabin91/tsc-files: changes, and which lefthook commands are due for each by the changed paths.
All: sync-docs, format, lint, typecheck, lint-md

lefthook.yaml:

output:
  - failure # Only show failed steps
  - execution_out # Show command output for failures

pre-commit:
  parallel: true
  commands:
    sync-docs:
      glob: 'AGENTS.md'
      run: cp AGENTS.md CLAUDE.md && git add CLAUDE.md
      priority: 1
    format:
      glob: '*.{ts,js,cjs,mjs,json,yaml,yml,md,mdx}'
      run: pnpm prettier -uw {staged_files}
      stage_fixed: true
    lint:
      glob: '*.{ts,js,cjs,mjs}'
      run: pnpm eslint {staged_files} --max-warnings 0 --cache --cache-location node_modules/.cache/eslint/.eslintcache
      stage_fixed: true
    typecheck:
      glob: '*.ts'
      run: pnpm tsc-files {staged_files}
    lint-md:
      glob: '*.{md,mdx}'
      run: pnpm markdownlint-cli2 --no-globs {staged_files}
    audit:
      run: pnpm audit --audit-level moderate

commit-msg:
  commands:
    commitlint:
      run: pnpm dlx commitlint --edit "$1"

test(core): :white_check_mark: add coverage for file-resolver error paths
  tests/unit/core/file-resolver.test.ts
Due: format, lint, typecheck

fix(core): :bug: pass tsconfigPath to handleDirectFile for consistent JavaScript inclusion
  src/core/file-resolver.ts
Due: format, lint, typecheck

chore(release): :memo: update changeset with all fixes and improvements
  .changeset/special-characters-fix.md
Due: format, lint-md

fix(core): handle files with special characters in filenames (#47)
  .changeset/special-characters-fix.md
  src/core/file-resolver.ts
  tests/unit/core/file-resolver.test.ts
Due: format, lint, typecheck, lint-md

docs(contributing): :memo: add CLI instructions for managing PR review comments
  docs/contributing/pull-requests.md
Due: format, lint-md

test(integration): :white_check_mark: improve error output for npm install failures
  tests/integration/cli-package.test.ts
Due: format, lint, typecheck

docs(contributing): :memo: enhance PR review comment management instructions
  docs/contributing/pull-requests.md
Due: format, lint-md

docs(repo): :recycle: implement AGENTS.md import strategy
  AGENTS.md
  CLAUDE.md
  lefthook.yaml
Due: sync-docs, format, lint-md

docs(repo): :memo: add OpenSpec instructions and simplify CLAUDE.md
  AGENTS.md
  CLAUDE.md
Due: sync-docs, format, lint-md

docs(project): :memo: update documentation to reflect Phase 3.1 completion
  AGENTS.md
  README.md
  openspec/project.md
Due: sync-docs, format, lint-md

docs(pr-workflow): :memo: address Copilot review feedback
  docs/contributing/pull-requests.md
Due: format, lint-md

docs(pr-workflow): :memo: address additional Copilot feedback
  docs/contributing/pull-requests.md
Due: format, lint-md

docs(contributing): add CLI instructions for managing PR review comments (#48)
  AGENTS.md
  CLAUDE.md
  README.md
  docs/contributing/pull-requests.md
  lefthook.yaml
  openspec/project.md
Due: sync-docs, format, lint-md

chore(repo): :hammer: migrate from commander to cleye and update dependencies
  openspec/changes/migrate-to-cleye/tasks.md
  package.json
  pnpm-lock.yaml
  src/cli/command.ts
  src/cli/main.ts
  src/cli/runner.ts
  src/types/cli.ts
  tests/setup.ts
  tests/unit/cli.test.ts
  tests/unit/cli/command.test.ts
  tests/unit/cli/main.test.ts
  tests/unit/cli/runner.test.ts
Due: format, lint, typecheck, lint-md

chore(docs): 🔨 archive migrate-to-cleye OpenSpec change
  openspec/changes/archive/2025-10-18-migrate-to-cleye/design.md
  openspec/changes/archive/2025-10-18-migrate-to-cleye/proposal.md
  openspec/changes/archive/2025-10-18-migrate-to-cleye/specs/cli-interface/spec.md
  openspec/changes/archive/2025-10-18-migrate-to-cleye/tasks.md
  openspec/specs/cli-interface/spec.md
Due: format, lint-md

chore(config): 🔨 add local file patterns to gitignore
  .gitignore
Due: none

chore(repo): :hammer: bump dependencies
  pnpm-lock.yaml
Due: format

style(cli): :lipstick: fix lint errors after rebase
  src/cli/main.ts
  tests/unit/cli.test.ts
Due: format, lint, typecheck

fix(ci): adjust coverage thresholds and fix security audit
  package.json
  pnpm-lock.yaml
  vitest.config.ts
Due: format, lint, typecheck

style: format package.json with prettier
  package.json
Due: format

refactor(build): :recycle: migrate to ESM-only package
  package.json
  tests/setup.ts
  tsdown.config.ts
Due: format, lint, typecheck

ci(integration): :construction_worker: show test output in CI logs
  vitest.config.ts
Due: format, lint, typecheck

fix(test): :white_check_mark: restore junit reporter for codecov
  vitest.config.ts
Due: format, lint, typecheck

chore(release): :hammer: add changeset for ESM-only migration
  .changeset/esm-only-migration.md
Due: format, lint-md

refactor(build): migrate to ESM-only package (#51)
  .changeset/esm-only-migration.md
  package.json
  tests/setup.ts
  tsdown.config.ts
  vitest.config.ts
Due: format, lint, typecheck, lint-md

fix(ci): :construction_worker: use GitHub App token for auto-merge
  .github/workflows/auto-merge-release.yaml
Due: format

fix(config): :bug: fix tsBuildInfo clutter and cache directory management
  README.md
  openspec/changes/archive/2025-10-27-fix-tsbuildinfo-clutter/proposal.md
  openspec/changes/archive/2025-10-27-fix-tsbuildinfo-clutter/specs/configuration-management/spec.md
  openspec/changes/archive/2025-10-27-fix-tsbuildinfo-clutter/tasks.md
  src/config/temp-config.ts
  src/config/tsconfig-resolver.ts
  src/core/checker.ts
  tests/integration/cli-package.test.ts
  tests/unit/config/dependency-discovery.test.ts
  tests/unit/config/temp-config.test.ts
Due: format, lint, typecheck, lint-md

docs(contributing): :memo: update PR template to hybrid narrative format
  .github/PULL_REQUEST_TEMPLATE.md
  openspec/project.md
Due: format, lint-md

test: :white_check_mark: improve test coverage and fix copilot nitpicks
  tests/unit/config/dependency-discovery.test.ts
  tests/unit/config/temp-config.test.ts
Due: format, lint, typecheck

chore(release): :hammer: add changeset for tsBuildInfo fix
  .changeset/1761591711-fix-tsbuildinfo-clutter.md
Due: format, lint-md

chore(release): :hammer: improve changeset workflow and documentation
  .changeset/1761591711-fix-tsbuildinfo-clutter.md
  .changeset/moody-beers-march.md
  docs/contributing/release-process.md
  openspec/project.md
  package.json
  pnpm-lock.yaml
  scripts/create-changeset.ts
  scripts/generate-changeset.ts
Due: format, lint, typecheck, lint-md

refactor(config): :recycle: address Copilot PR review comments
  src/config/temp-config.ts
  tests/unit/config/temp-config.test.ts
Due: format, lint, typecheck

refactor: :recycle: address additional Copilot PR nitpick comments
  scripts/generate-changeset.ts
  tests/unit/config/temp-config.test.ts
Due: format, lint, typecheck

test(config): :white_check_mark: add test for verbose cache creation failure logging
  tests/unit/config/temp-config.test.ts
Due: format, lint, typecheck

docs: :memo: add guidelines to prevent brittle comments with line numbers
  openspec/project.md
  scripts/generate-changeset.ts
Due: format, lint, typecheck, lint-md

fix(test): :white_check_mark: improve patch coverage and address Copilot feedback
  tests/unit/config/temp-config.test.ts
Due: format, lint, typecheck

docs(project): :memo: expand guideline to prevent brittle metrics in docs
  docs/architecture/README.md
  openspec/project.md
Due: format, lint-md

refactor(code-quality): :recycle: address Copilot PR review comments
  scripts/create-changeset.ts
  tests/unit/config/temp-config.test.ts
Due: format, lint, typecheck

fix(config): fix tsBuildInfo clutter and cache directory management (#53)
  .changeset/moody-beers-march.md
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
  docs/architecture/README.md
  docs/contributing/release-process.md
  openspec/changes/archive/2025-10-27-fix-tsbuildinfo-clutter/proposal.md
  openspec/changes/archive/2025-10-27-fix-tsbuildinfo-clutter/specs/configuration-management/spec.md
  openspec/changes/archive/2025-10-27-fix-tsbuildinfo-clutter/tasks.md
  openspec/project.md
  package.json
  pnpm-lock.yaml
  scripts/create-changeset.ts
  scripts/generate-changeset.ts
  src/config/temp-config.ts
  src/config/tsconfig-resolver.ts
  src/core/checker.ts
  tests/integration/cli-package.test.ts
  tests/unit/config/dependency-discovery.test.ts
  tests/unit/config/temp-config.test.ts
Due: format, lint, typecheck, lint-md
