Repository jbabin91/tsc-files: changes, and which lefthook commands are due for each by the changed paths.
All: sync-docs, format, lint, typecheck, lint-md

lefthook.yaml:

output:
  - failure # Only show failed steps
  - execution_out # Show command output for failures

pre-commit:
  parallel: true
  commands:
    sync-docs:
      glob: 'AGENTS.md'
      run: cp AGENTS.md CLAUDE.md && git add CLAUDE.md
      priority: 1
    format:
      glob: '*.{ts,js,cjs,mjs,json,yaml,yml,md,mdx}'
      run: pnpm prettier -uw {staged_files}
      stage_fixed: true
    lint:
      glob: '*.{ts,js,cjs,mjs}'
      run: pnpm eslint {staged_files} --max-warnings 0 --cache --cache-location node_modules/.cache/eslint/.eslintcache
      stage_fixed: true
    typecheck:
      glob: '*.ts'
      run: pnpm tsc-files {staged_files}
    lint-md:
      glob: '*.{md,mdx}'
      run: pnpm markdownlint-cli2 --no-globs {staged_files}
    audit:
      run: pnpm audit --audit-level moderate

commit-msg:
  commands:
    commitlint:
      run: pnpm dlx commitlint --edit "$1"

test(repo): :white_check_mark: clean up vitest test suite tech debt
  src/detectors/typescript.ts
  tests/integration/cli-package.test.ts
  tests/setup.ts
  tests/unit/cli.test.ts
  tests/unit/cli/main.test.ts
  tests/unit/cli/types.test.ts
  tests/unit/core/checker.test.ts
  tests/unit/detectors/package-manager.test.ts
  tests/unit/detectors/typescript.test.ts
  tests/unit/detectors/typescript.windows.test.ts
  tests/unit/types/cli.test.ts
  vitest.config.ts
Due: format, lint, typecheck

chore(repo): :hammer: gitignore Claude plans and Trekker data
  .gitignore
Due: none

chore(deps): :hammer: update dependencies and pin audit floors
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/types/cli.ts
  tests/unit/core/checker.test.ts
  tests/unit/execution/executor.test.ts
Due: format, lint, typecheck

docs: :memo: archive project, recommend full tsc check under TypeScript 7
  README.md
Due: format, lint-md

chore(build): :hammer: migrate release tooling from changesets to oakum
  .changeset/README.md
  .changeset/_config.toml
  .changeset/_schema.json
  .changeset/archive-notice.md
  .changeset/config.json
  .commitlintrc.js
  .github/workflows/auto-merge-release.yaml
  .github/workflows/release.yaml
  .prettierignore
  .prettierrc.js
  AGENTS.md
  CHANGELOG.md
  docs/CONTRIBUTING.md
  docs/contributing/pull-requests.md
  docs/contributing/release-process.md
  docs/contributing/setup.md
  docs/decisions/README.md
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/create-changeset.ts
  scripts/generate-changeset.ts
  vitest.config.ts
Due: sync-docs, format, lint, typecheck, lint-md

chore(repo): :hammer: ignore review-cycle plugin state
  .gitignore
Due: none

ci: :construction_worker: provision pnpm before oakum steps
  .github/workflows/release.yaml
Due: format

fix(config): :bug: drop the implied classic moduleResolution for TypeScript 6
  .changeset/typescript-6-support.md
  README.md
  docs/CONTRIBUTING.md
  package.json
  src/config/temp-config.ts
  tests/integration/cli-package.test.ts
  tests/unit/config/temp-config.test.ts
Due: format, lint, typecheck, lint-md

ci: :construction_worker: stop auto-merging the version PR
  .github/workflows/auto-merge-release.yaml
  AGENTS.md
  docs/contributing/pull-requests.md
  docs/contributing/release-process.md
Due: sync-docs, format, lint-md
