Repository jbabin91/tsc-files: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck, lint, lint-md, format

typecheck:
  run: pnpm typecheck

lint:
  run: pnpm eslint {staged_files} --max-warnings 0 --cache --cache-location node_modules/.cache/eslint/.eslintcache
  stage_fixed: true

lint-md:
  run: pnpm markdownlint-cli2 {staged_files}

format:
  run: pnpm prettier -uw {staged_files}
  stage_fixed: true

docs(repo): :memo: update implementation strategy with Phase 2.2 completion
  docs/implementation-strategy.md
Due: lint-md, format

feat(core): :sparkles: implement Phase 2.3 monorepo support with file grouping
  src/core/checker.ts
Due: typecheck, lint, format

feat(detectors): :sparkles: implement package manager detection and TypeScript compiler optimization
  src/detectors/package-manager.ts
  src/detectors/typescript.ts
Due: typecheck, lint, format

feat(core): :sparkles: enhance typescript file resolution and javascript support
  src/cli.ts
  src/core/checker.ts
  src/detectors/package-manager.ts
  src/detectors/typescript.ts
  src/index.ts
  tests/unit/checker.test.ts
  tests/unit/cli.test.ts
  tests/unit/index.test.ts
  vitest.config.ts
Due: typecheck, lint, format

docs: :memo: update project status and implementation details
  CLAUDE.md
  README.md
  docs/contributing.md
  docs/decisions/006-package-manager-detection.md
  docs/decisions/007-monorepo-support.md
  docs/decisions/008-javascript-file-handling.md
  docs/decisions/009-cross-platform-execution.md
  docs/decisions/010-error-handling-process-management.md
  docs/decisions/README.md
  docs/implementation-strategy.md
  docs/testing-strategy.md
  docs/testing.md
  docs/troubleshooting-guide.md
Due: lint-md, format

ci(test): :ferris_wheel: add build package step to unit-tests job
  .github/workflows/ci.yaml
Due: none

chore(repo): :hammer: bump dependencies
  pnpm-lock.yaml
Due: none

chore(deps): :hammer: add tmp and @types/tmp dependencies
  package.json
  pnpm-lock.yaml
  src/core/checker.ts
Due: typecheck, lint, format

ci(test): :construction_worker: reorganize integration test scripts to .github/scripts
  .github/actions/integration-tests/action.yaml
  .github/scripts/quick-integration-test.sh
  .github/scripts/test-integration-performance.sh
  .github/workflows/ci.yaml
Due: none

ci(test): :zap: optimize integration tests for CI performance
  .github/actions/integration-tests/action.yaml
  .github/scripts/quick-integration-test.sh
Due: none

ci(test): :bug: fix integration test tarball installation debugging
  .github/actions/integration-tests/action.yaml
Due: none

ci(test): :bug: fix tarball path resolution in integration tests
  .github/actions/integration-tests/action.yaml
Due: none

ci(test): :bug: use npx for tsc-files commands in extended tests
  .github/actions/integration-tests/action.yaml
Due: none

ci(test): :bug: fix timing calculation using GitHub environment variables
  .github/actions/integration-tests/action.yaml
Due: none

security(tests): :lock: fix insecure temporary file creation vulnerabilities
  src/detectors/package-manager.ts
  tests/setup.ts
  tests/unit/checker.test.ts
  tests/unit/cli.test.ts
Due: typecheck, lint, format

style: :art: apply prettier formatting to security fixes
  src/detectors/package-manager.ts
  tests/setup.ts
Due: typecheck, lint, format

chore(pnpm): :wrench: add postinstall script for lefthook auto-install
  package.json
Due: format

chore: :hammer: update build scripts for improved workflow
  package.json
Due: format

ci: :ferris_wheel: enhance integration testing setup
  .github/actions/integration-tests/action.yaml
  .github/workflows/ci.yaml
Due: none

ci(test): :ferris_wheel: optimize CI performance and consolidate build workflow
  .github/workflows/ci.yaml
  .gitignore
  package.json
  tests/setup.ts
  vitest.config.ts
Due: typecheck, lint, format

fix(ci): :bug: isolate integration tests to prevent packageManager conflicts
  .github/actions/integration-tests/action.yaml
Due: none

test(detectors): :white_check_mark: consolidate duplicate detector tests into comprehensive single file
  tests/unit/detectors.test.ts
Due: typecheck, lint, format

fix(build): :bug: move lefthook install from postinstall to prepare script
  package.json
Due: format

fix(ci): :bug: fix integration test directory persistence across GitHub Actions steps
  .github/actions/integration-tests/action.yaml
Due: none

fix(ci): :bug: ensure tsconfig.json exists when recreating integration test directories
  .github/actions/integration-tests/action.yaml
Due: none

ci(test): :construction_worker: optimize integration tests and improve naming clarity
  .github/actions/integration-tests/action.yaml
  .github/scripts/quick-integration-test.sh
Due: none

refactor(test): :recycle: remove verbose comments from detectors tests
  tests/unit/detectors.test.ts
Due: typecheck, lint, format

refactor: :recycle: remove uninformative comments across codebase
  src/cli.ts
  src/core/checker.ts
  tests/unit/checker.test.ts
Due: typecheck, lint, format

refactor: :recycle: final comment cleanup and update package manager priorities
  src/detectors/package-manager.ts
  src/detectors/typescript.ts
  tests/unit/index.test.ts
Due: typecheck, lint, format

docs(api): :memo: add comprehensive JSDoc documentation to public API functions
  src/core/checker.ts
  src/detectors/package-manager.ts
  src/detectors/typescript.ts
Due: typecheck, lint, format

chore(repo): :hammer: add changeset
  .changeset/441556f9-auto-generated.md
Due: lint-md, format

ci(test): :construction_worker: optimize integration tests for Windows performance
  .github/actions/integration-tests/action.yaml
  .github/workflows/ci.yaml
Due: none

fix(ci): :bug: remove executable permissions from shell scripts for GitHub API compatibility
  .github/actions/integration-tests/action.yaml
  .github/scripts/quick-integration-test.sh
  .github/scripts/test-integration-performance.sh
Due: none

refactor(ci): :recycle: inline shell scripts into integration test action
  .github/actions/integration-tests/action.yaml
  .github/scripts/quick-integration-test.sh
  .github/scripts/test-integration-performance.sh
Due: none

refactor(core): :recycle: extract utility modules for better code organization
  src/cli.ts
  src/config/discovery.ts
  src/config/parser.ts
  src/config/temp-config.ts
  src/core/checker.ts
  src/core/file-resolver.ts
  src/execution/executor.ts
  src/execution/output-parser.ts
  src/utils/error-formatter.ts
  src/utils/file-operations.ts
  src/utils/file-patterns.ts
  tests/unit/checker.test.ts
  tests/unit/execution/executor.test.ts
  tests/unit/execution/output-parser.test.ts
  tests/unit/file-patterns.test.ts
  tests/unit/utils/error-formatter.test.ts
  tests/unit/utils/file-operations.test.ts
  vitest.config.ts
Due: typecheck, lint, format

docs: :memo: update quality metrics and code comments policy in CLAUDE.md
  CLAUDE.md
Due: lint-md, format

feat: :sparkles: add clean script and improve test coverage metrics
  README.md
  docs/CODE_OF_CONDUCT.md
  docs/CONTRIBUTING.md
  docs/SECURITY.md
  docs/implementation-strategy.md
  package.json
  src/detectors/typescript.ts
  tests/unit/cli/main.test.ts
  tests/unit/config/discovery.test.ts
  tests/unit/config/parser.test.ts
  tests/unit/config/temp-config.test.ts
  tests/unit/core/checker.test.ts
  tests/unit/core/file-resolver.test.ts
  tests/unit/detectors/package-manager.test.ts
  tests/unit/detectors/typescript.test.ts
  tests/unit/types/core.test.ts
  tests/unit/utils/file-patterns.test.ts
  vitest.config.ts
Due: typecheck, lint, lint-md, format

feat: :sparkles: add issue and pull request templates for better contribution guidelines
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/PULL_REQUEST_TEMPLATE.md
Due: lint-md, format

ci(test): :construction_worker: fix help flag test to handle Commander.js exit code
  .github/actions/integration-tests/action.yaml
Due: none

Path conditions:
  typecheck: any of: *.{ts,tsx}
  lint: any of: *.{ts,tsx,js,jsx,cjs,mjs}
  lint-md: any of: *.{md,mdx}
  format: any of: *.{ts,tsx,js,jsx,cjs,mjs,json,md,mdx}
