Repository jbabin91/tsc-files: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck, lint, lint-md, format

lefthook.yaml:

output:
  - failure        # Only show failed steps
  - execution_out  # Show command output for failures

pre-commit:
  parallel: true
  commands:
    typecheck:
      glob: '*.{ts,tsx}'
      run: pnpm typecheck
    lint:
      glob: '*.{ts,tsx,js,jsx,cjs,mjs}'
      run: pnpm eslint {staged_files} --max-warnings 0 --cache --cache-location node_modules/.cache/eslint/.eslintcache
      stage_fixed: true # Auto-stage ESLint fixes!
    lint-md:
      glob: '*.{md,mdx}'
      run: pnpm markdownlint-cli2 {staged_files}
    format:
      glob: '*.{ts,tsx,js,jsx,cjs,mjs,json,md,mdx}'
      run: pnpm prettier -uw {staged_files}
      stage_fixed: true
    audit:
      run: pnpm audit --audit-level moderate

commit-msg:
  commands:
    commitlint:
      run: pnpm dlx commitlint --edit "$1"

pre-push:
  commands:
    test:
      run: pnpm test

docs(claude): :memo: add explicit commit permission rule
  CLAUDE.md
Due: lint-md, format

test(cli): :white_check_mark: fix logger mocking in test files
  src/cli/education.ts
  src/cli/runner.ts
  tests/unit/cli/education.test.ts
  tests/unit/cli/output.test.ts
  tests/unit/cli/runner.test.ts
Due: typecheck, lint, format

test(cli): :white_check_mark: fix logger mocking in executor test
  tests/unit/execution/executor.test.ts
Due: typecheck, lint, format

chore(repo): :hammer: bump dependencies
  package.json
  pnpm-lock.yaml
Due: format

docs(repo): :memo: update documentation
  CLAUDE.md
Due: lint-md, format

fix(cli): :bug: use process.exitCode for graceful shutdown
  .changeset/fix-node-modules-exclusion.md
  src/cli/main.ts
  src/cli/output.ts
  src/config/temp-config.ts
  tests/unit/cli/main.test.ts
  tests/unit/config/temp-config.test.ts
Due: typecheck, lint, lint-md, format

fix(cli): :bug: fix exit code handling and correct TypeScript peer dependency
  .changeset/fix-node-modules-exclusion.md
  .github/renovate.json
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/cli/main.ts
Due: typecheck, lint, lint-md, format

chore(repo): :hammer: bump dependencies
  pnpm-lock.yaml
Due: none

ci: :ferris_wheel: update CI conditions to skip drafts and clarify timeout
  .github/workflows/ci.yaml
Due: none

refactor(cli): :recycle: make main() testable by returning exit code
  src/cli.ts
  src/cli/main.ts
  tests/unit/cli/main.test.ts
Due: typecheck, lint, format

fix(cli): :bug: return actual exit code from parseAsync
  src/cli/main.ts
  tests/unit/cli/main.test.ts
Due: typecheck, lint, format

docs(claude): :memo: add explicit git operation guard rails
  CLAUDE.md
Due: lint-md, format

chore(ci): :construction_worker: configure codecov with aligned thresholds
  .github/codecov.yml
Due: none

chore(repo): :hammer: add changeset
  .changeset/brave-panda.md
Due: lint-md, format

chore(docs): :memo: rename CLAUDE.md to AGENTS.md with symlink
  AGENTS.md
  CLAUDE.md
Due: lint-md, format

fix(cli): update skipLibCheck default value to true
  src/types/cli.ts
  tests/unit/cli/runner.test.ts
  tests/unit/cli/types.test.ts
Due: typecheck, lint, format

fix(config): :bug: improve tsgo compatibility and type resolution
  .github/actions/integration-tests/action.yaml
  lefthook.yaml
  package.json
  pnpm-lock.yaml
  src/cli.ts
  src/cli/main.ts
  src/cli/output.ts
  src/config/temp-config.ts
  src/core/checker.ts
  src/execution/executor.ts
  tests/globals.d.ts
  tests/setup.ts
  tests/unit/cli/output.test.ts
  tests/unit/cli/runner.test.ts
  tests/unit/config/temp-config.test.ts
  tests/unit/core/type-resolution.test.ts
  tests/unit/execution/executor.test.ts
  vitest.config.ts
Due: typecheck, lint, format

docs(tests): add ecosystem integration tests design and proposal
  openspec/changes/add-ecosystem-integration-tests/design.md
  openspec/changes/add-ecosystem-integration-tests/proposal.md
  openspec/changes/add-ecosystem-integration-tests/specs/file-checking/spec.md
  openspec/changes/add-ecosystem-integration-tests/tasks.md
Due: lint-md, format

chore(repo): :hammer: add changeset
  .changeset/happy-wolf.md
Due: lint-md, format

fix(ci): :construction_worker: simplify release workflow and support symlinks
  .github/workflows/release.yaml
  .prettierignore
Due: none

fix(ci): :construction_worker: replace symlink with file sync for GitHub API compatibility
  .github/workflows/release.yaml
  CLAUDE.md
  lefthook.yaml
Due: lint-md, format

feat(ci): :sparkles: add auto-merge workflow for release PRs
  .github/workflows/auto-merge-release.yaml
Due: none

fix(config): :bug: include .gen.ts files for module augmentation support
  pnpm-lock.yaml
  src/config/temp-config.ts
  tests/unit/config/temp-config.test.ts
Due: typecheck, lint, format

chore(repo): :hammer: add changeset
  .changeset/smart-lion.md
Due: lint-md, format

ci: :construction_worker: fix auto-merge workflow with shallow checkout
  .github/workflows/auto-merge-release.yaml
Due: none

docs(openspec): enhance documentation for OpenSpec commands
  .opencode/command/openspec-apply.md
  .opencode/command/openspec-archive.md
  .opencode/command/openspec-proposal.md
  openspec/changes/enhance-temp-config-dependency-closure/proposal.md
  openspec/changes/enhance-temp-config-dependency-closure/specs/configuration-management/spec.md
  openspec/changes/enhance-temp-config-dependency-closure/tasks.md
Due: lint-md, format

feat: add advanced dependency discovery with setup file detection
  README.md
  openspec/changes/archive/2025-10-09-enhance-temp-config-dependency-closure/design.md
  openspec/changes/archive/2025-10-09-enhance-temp-config-dependency-closure/proposal.md
  openspec/changes/archive/2025-10-09-enhance-temp-config-dependency-closure/specs/configuration-management/spec.md
  openspec/changes/archive/2025-10-09-enhance-temp-config-dependency-closure/tasks.md
  openspec/changes/enhance-temp-config-dependency-closure/tasks.md
  openspec/specs/configuration-management/spec.md
  src/cli/command.ts
  src/cli/education.ts
  src/cli/runner.ts
  src/config/dependency-discovery.ts
  src/config/temp-config.ts
  src/core/checker.ts
  src/types/cli.ts
  src/types/core.ts
  tests/unit/cli.test.ts
  tests/unit/cli/education.test.ts
  tests/unit/config/dependency-discovery.test.ts
  tests/unit/config/discovery.test.ts
  tests/unit/core/type-resolution.test.ts
  tests/unit/types/cli.test.ts
  tests/unit/types/core.test.ts
Due: typecheck, lint, lint-md, format

chore(repo): :hammer: add changeset
  .changeset/proud-deer.md
Due: lint-md, format

ci: :construction_worker: add CI summary job for improved status checks
  .github/workflows/ci.yaml
Due: none

docs(specs): :memo: add comprehensive migration proposals for get-tsconfig and cleye
  openspec/changes/migrate-to-cleye/design.md
  openspec/changes/migrate-to-cleye/proposal.md
  openspec/changes/migrate-to-cleye/specs/cli-interface/spec.md
  openspec/changes/migrate-to-cleye/tasks.md
  openspec/changes/migrate-to-get-tsconfig/design.md
  openspec/changes/migrate-to-get-tsconfig/proposal.md
  openspec/changes/migrate-to-get-tsconfig/specs/configuration-management/spec.md
  openspec/changes/migrate-to-get-tsconfig/specs/file-checking/spec.md
  openspec/changes/migrate-to-get-tsconfig/tasks.md
Due: lint-md, format

refactor(config): ♻️ simplify config parsing with get-tsconfig
  package.json
  pnpm-lock.yaml
  src/config/dependency-discovery.ts
  src/config/discovery.ts
  src/config/parser.ts
  src/config/temp-config.ts
  src/config/tsconfig-resolver.ts
  src/config/tsgo-compatibility.ts
  src/core/checker.ts
  src/core/file-resolver.ts
  tests/unit/config/dependency-discovery.test.ts
  tests/unit/config/discovery.test.ts
  tests/unit/config/parser.test.ts
  tests/unit/config/temp-config.test.ts
  tests/unit/config/tsgo-compatibility.test.ts
  tests/unit/core/checker.test.ts
  vitest.config.ts
Due: typecheck, lint, format
