Repository jbabin91/tsc-files: changes, and which lefthook commands are due for each by the changed paths.
All: sync-docs, format, lint, typecheck, lint-md

sync-docs:
  run: cp AGENTS.md CLAUDE.md && git add CLAUDE.md
  priority: 1

format:
  run: pnpm prettier -uw {staged_files}
  stage_fixed: true

lint:
  run: pnpm eslint {staged_files} --max-warnings 0 --cache --cache-location node_modules/.cache/eslint/.eslintcache
  stage_fixed: true

typecheck:
  run: pnpm tsc-files {staged_files}

lint-md:
  run: pnpm markdownlint-cli2 --no-globs {staged_files}

test(integration): :white_check_mark: fix Windows CI timeout and skip prepare scripts
  tests/integration/cli-package.test.ts
Due: format, lint, typecheck

docs: update documentation for ESM-only build and CLI options
  AGENTS.md
  README.md
  docs/CONTRIBUTING.md
  docs/api.md
  docs/architecture/performance.md
  docs/contributing/coding-standards.md
  docs/decisions/001-typescript-cli.md
  docs/decisions/002-tsdown-vs-tsc.md
  docs/decisions/003-dual-package.md
  docs/decisions/004-changesets.md
  docs/decisions/005-vitest-vs-jest.md
  docs/decisions/006-package-manager-detection.md
  docs/decisions/007-monorepo-support.md
  docs/decisions/008-javascript-file-handling.md
  docs/decisions/009-cross-platform-execution.md
  docs/decisions/010-error-handling-process-management.md
  docs/decisions/011-glob-library-migration.md
  docs/decisions/011-test-architecture-refactoring.md
  docs/decisions/012-tsconfig-parsing-consolidation.md
  docs/troubleshooting-guide.md
  docs/usage-examples.md
  openspec/project.md
  src/cli/education.ts
Due: sync-docs, format, lint, typecheck, lint-md

docs: reorganize documentation structure and update references
  AGENTS.md
  README.md
  docs/README.md
  docs/contributing/pull-requests.md
  docs/contributing/setup.md
  docs/guides/troubleshooting-guide.md
  docs/guides/usage-examples.md
  docs/reference/api.md
  docs/usage/tsgo-compiler.md
  openspec/changes/migrate-to-cleye/tasks.md
Due: sync-docs, format, lint-md

chore(repo): :hammer: bump dependencies
  package.json
  pnpm-lock.yaml
Due: format

refactor(config): :recycle: fix dependency discovery and simplify benchmarking
  README.md
  docs/guides/benchmarking.md
  package.json
  pnpm-lock.yaml
  src/cli/command.ts
  src/cli/runner.ts
  src/config/dependency-discovery.ts
  src/config/temp-config.ts
  src/config/tsgo-compatibility.ts
  src/types/cli.ts
  src/types/core.ts
  tests/integration/cli-package.test.ts
  tests/unit/cli/command.test.ts
  tests/unit/cli/runner.test.ts
  tests/unit/cli/types.test.ts
  tests/unit/config/dependency-discovery.test.ts
  tests/unit/config/temp-config.test.ts
  tests/unit/config/tsgo-compatibility.test.ts
Due: format, lint, typecheck, lint-md

docs(contributing): :memo: improve PR creation instructions
  openspec/project.md
Due: format, lint-md

fix(cli): :bug: fix performance.now() bug and remove redundant code
  src/cli/runner.ts
  src/types/cli.ts
Due: format, lint, typecheck

test: ✅ add comprehensive tests to improve coverage
  tests/unit/cli/runner.test.ts
  tests/unit/config/dependency-discovery.test.ts
Due: format, lint, typecheck

docs(openspec): 📝 add PR review comment resolution guidelines
  openspec/project.md
Due: format, lint-md

fix(config): :bug: resolve paths relative to baseUrl per TypeScript semantics
  src/config/temp-config.ts
  tests/unit/config/temp-config.test.ts
Due: format, lint, typecheck

chore: :hammer: add changeset for path resolution fix
  .changeset/busy-impalas-occur.md
Due: format, lint-md

docs: :memo: improve test timeout and GraphQL query documentation
  openspec/project.md
  tests/integration/cli-package.test.ts
Due: format, lint, typecheck, lint-md

test(coverage): :white_check_mark: improve test coverage for runner and dependency-discovery
  tests/unit/cli/runner.test.ts
  tests/unit/config/dependency-discovery.test.ts
Due: format, lint, typecheck

docs: :memo: address Copilot review comments with enhanced documentation
  .changeset/busy-impalas-occur.md
  openspec/project.md
  src/cli/runner.ts
  src/config/dependency-discovery.ts
Due: format, lint, typecheck, lint-md

refactor(config): fix dependency discovery and simplify benchmarking (#55)
  .changeset/busy-impalas-occur.md
  README.md
  docs/guides/benchmarking.md
  openspec/project.md
  package.json
  pnpm-lock.yaml
  src/cli/command.ts
  src/cli/runner.ts
  src/config/dependency-discovery.ts
  src/config/temp-config.ts
  src/config/tsgo-compatibility.ts
  src/types/cli.ts
  src/types/core.ts
  tests/integration/cli-package.test.ts
  tests/unit/cli/command.test.ts
  tests/unit/cli/runner.test.ts
  tests/unit/cli/types.test.ts
  tests/unit/config/dependency-discovery.test.ts
  tests/unit/config/temp-config.test.ts
  tests/unit/config/tsgo-compatibility.test.ts
Due: format, lint, typecheck, lint-md

chore(deps): :hammer: update pnpm lockfile
  pnpm-lock.yaml
Due: format

fix(config): :bug: discover imports from ambient files with path-mapped imports
  .changeset/wide-squids-love.md
  src/config/dependency-discovery.ts
  tests/unit/config/dependency-discovery.test.ts
Due: format, lint, typecheck, lint-md

fix(config): discover imports from ambient files with path-mapped imports (#60)
  .changeset/wide-squids-love.md
  src/config/dependency-discovery.ts
  tests/unit/config/dependency-discovery.test.ts
Due: format, lint, typecheck, lint-md

chore(repo): :hammer: bump dependencies
  pnpm-lock.yaml
Due: format

chore(deps): :hammer: update dependencies and fix documentation
  .claude/super-claude-config.json
  AGENTS.md
  README.md
  docs/decisions/012-tsconfig-parsing-consolidation.md
  package.json
  pnpm-lock.yaml
Due: sync-docs, format, lint-md

chore: update pnpm version
  package.json
Due: format

chore(config): :hammer: fix markdownlint configuration and update Node version
  .markdownlint-cli2.mjs
  .nvmrc
  .vscode/settings.json
  package.json
Due: format, lint

fix(core): :bug: resolve relative paths correctly in monorepos without root tsconfig
  src/core/checker.ts
  tests/integration/cli-package.test.ts
  tests/unit/core/checker.test.ts
  tests/unit/core/monorepo-paths.test.ts
Due: format, lint, typecheck

chore: :hammer: add changeset for monorepo path fix
  .changeset/brave-lands-bow.md
Due: format, lint-md

chore: :hammer: remove placeholder issue reference
  tests/unit/core/monorepo-paths.test.ts
Due: format, lint, typecheck

fix(core): resolve relative paths correctly in monorepos without root tsconfig (#66)
  .changeset/brave-lands-bow.md
  src/core/checker.ts
  tests/integration/cli-package.test.ts
  tests/unit/core/checker.test.ts
  tests/unit/core/monorepo-paths.test.ts
Due: format, lint, typecheck, lint-md

style: :lipstick: format code
  src/detectors/typescript.ts
  tests/unit/detectors/typescript.windows.test.ts
  tests/unit/execution/executor.test.ts
Due: format, lint, typecheck

feat(core): :sparkles: add cross-package glob support for monorepos
  src/core/checker.ts
  src/core/file-resolver.ts
  tests/unit/core/file-resolver.test.ts
  tests/unit/core/monorepo-paths.test.ts
Due: format, lint, typecheck

chore: :hammer: add changeset for cross-package glob support
  .changeset/cross-package-glob-support.md
Due: format, lint-md

docs: :memo: simplify PR template for commit-friendly descriptions
  .claude/commit-conventions.md
  .github/PULL_REQUEST_TEMPLATE.md
  openspec/project.md
Due: format, lint-md

docs: :memo: simplify PR template for commit-friendly descriptions (#68)
  .claude/commit-conventions.md
  .github/PULL_REQUEST_TEMPLATE.md
  openspec/project.md
Due: format, lint-md

fix(core): :bug: address Copilot review feedback for glob support
  src/core/checker.ts
  src/core/file-resolver.ts
  tests/unit/core/file-resolver.test.ts
Due: format, lint, typecheck

chore(repo): :hammer: bump dependencies
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format

chore(build): :hammer: migrate tsdown external to deps.neverBundle
  tsdown.config.ts
Due: format, lint, typecheck

Path conditions:
  sync-docs: any of: AGENTS.md
  format: any of: *.{ts,js,cjs,mjs,json,yaml,yml,md,mdx}
  lint: any of: *.{ts,js,cjs,mjs}
  typecheck: any of: *.ts
  lint-md: any of: *.{md,mdx}
